body{
    /* background-color: #316AF1; */
    background-image: url('https://images.unsplash.com/photo-1614540648095-3b1a0bf29570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRleHQlMjBkZXRlY3RvcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.text-label{
    font-size: 22px;
    color: #6495ED;
    font-weight: bold;
    margin: 0px 0px 0px 3px;
}

.result-div{
    min-height:150px;
    max-height:150px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px dashed #316AF1;
    border-radius: 20px;
    background-color: #B8D4FF;
}

.text-div{
    min-height:320px;
    max-height: auto;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
}

.sc-div{
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
}

#desc{
    color: red;
    font-weight: 500;
}